    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: lightgray;
    }
    header{
        display: flex;
        justify-content: center;
        height: 75px;
        margin-bottom: 20px;
        position: sticky;
        top: 0;
        background-color: black;
    }
    .fa-cutlery{
        margin-right: 5px;
        font-size: 30px;
        color: whitesmoke;
    }
    #header_recipe{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        width: fit-content;
    }
    #header_recipe a{
        text-decoration: none;
    }
    #header_recipe b{
        font-family: Montserrat;
        font-weight: bolder;
        font-size: 35px;
        color: whitesmoke;
    }
    #div_search_box{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
    }
    #form_search_box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 75%;
        width: 25%;
        border: 1px solid #000000;
        border-radius: 10px;
        background-color: whitesmoke;
    }
    #search_box{
        width: 95%;
    }
    #search_box, #search_button{
        padding: 5px;
        background: none;
        border: none;                
        outline: none;
    }
    #search_button:hover{
        scale: 1.25;
        transition: all 300ms ease-in-out;
    }
    #div_content{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
        margin-top: 20px;
        border-radius: 20px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
        background-color: whitesmoke;
    }
    .content:hover{
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 1);
        transition: all 300ms ease-in-out;
    }
    .content img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .recipe_title{
        width: 90%;
        text-align: left;
        font-family: Montserrat;
    }
    .infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        padding-bottom: 20px;
        font-family: Montserrat;
        font-size: smaller;
    }
    .infos a{
        text-decoration: none;
        color: #000000;
    }
    .app{
        display: flex;
        width: 90%;
        padding-bottom: 20px;
        text-align: justify;
        font-family: Montserrat;
    }
    .other_infos{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-family: Montserrat;
        line-height: 1.5;
        color: whitesmoke;
        background-color: #444444;
    }
    .other_infos table{
        width: 90%;
    }
    .other_infos td{
        text-align: center;
    }
    .fa-clock, .fa-pizza-slice{
        margin-right: 5px;
    }
    .see_more{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-family: Montserrat;
        font-size: small;
        font-weight: bold;
        color: whitesmoke;
        background-color: #000000;
    }
    .see_more a{
        text-decoration: none;
        color: whitesmoke;
    }
    .see_more a:hover{
        scale: 1.05;
        transition: all 300ms ease-in-out;
    }
    .fa-eye{
        margin-right: 5px;
    }
    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: whitesmoke;
        background-color: #000000;
    }
    footer div{
        display: flex;
        justify-content: space-between;
        width: 95%;
    }
    footer span{
        margin: 10px;
        font-family: Montserrat;
        font-size: small;
    }